<% provide(:title, "Edit user") %>
<title>Myapp | <%= yield(:title) %></title>
<h1>Update Your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
    	<%= render 'shared/error_messages', object: f.object %>
      <%= render 'fields', f: f %>
      <%= f.submit "Update my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>